$white: #fff;
$black: #000;
$bg-color: #181e2e;
$accent-color: rgba(255, 193, 255, 0.933);
$hover-button: rgba(255, 193, 255, 0.45);
$banner-gradient: linear-gradient(45deg, rgba(190, 10, 214, 0.35), rgba(68, 0, 255, 0.45));
$nav-gradient: linear-gradient(25deg, rgba(190, 10, 214, 0.65), rgba(68, 0, 255, 0.75));
