$white: #fff;
$black: #000;
$bg-color: #181e2e;
$bg-second: #121624;
// $text-color: rgb(167, 167, 167);
$text-color: #F5F5F5;
$secondary-color: rgb(167, 167, 167);
$accent-color: rgb(32, 201, 151);
// $accent-color:rgb(24, 86, 221);
$hover-button: rgba(32, 201, 151, 0.473);
$banner-gradient: linear-gradient(135deg, rgba(38, 57, 58, 0.849), rgba(54, 85, 74, 0.808));

