@use 'base/base' as *;
@use 'base/colors' as *;

body {
	margin: 1.5em 2em;
	color: $text-color;
}
h1 {
	text-align: center;
	margin: 1em 0;
}
h2 {
	margin: 1em 0;
}
a {
	color: $text-color;
}
i {
	font-size: 4.5rem;
	color: $accent-color;
}