@use 'base/colors' as *;
@mixin heroImages($bgImg) {
	background-image: $banner-gradient, url($bgImg);
	background-size: cover;
	background-position: center;
	background-attachment: scroll;
}

@mixin textBg {
	background: linear-gradient(60deg, $white, $accent-color);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	color: transparent;
}
