@use 'base/colors' as *;
@use 'utils/mixins' as *;
.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1400px;
}

.section-heading {
	position: relative;
	margin-bottom: 2rem;
	font-weight: 300;
	font-size: 3rem;
	text-align: center;
	text-transform: uppercase;
	@include textBg;
	letter-spacing: 2px;
}
.section-text {
	position: relative;
	margin-bottom: 2em;
	font-size: 2rem;
	text-align: center;
	color: $accent-color;
}
.section-subtext {
	@include textBg;
	text-align: center;
}

.section-padding {
	padding: 4rem 2rem;
}

// media
@media (min-width: 768px) {
	.section-heading {
		font-size: 4.8rem;
	}
	.section-padding {
		padding: 6rem 2rem;
	}
	.section-text {
		font-size: 2.5rem;
	}
	.section-subtext {
		font-size: 2.2rem;
	}
}

@media (min-width: 992px) {
	.section-heading {
		font-size: 5.5rem;
	}
	.section-padding {
		padding: 8rem 2rem;
	}
	.section-text {
		font-size: 3rem;
	}
	.section-subtext {
		font-size: 2.6rem;
	}
}
@media (min-width: 1200px) {
	.section-text {
		font-size: 3.2rem;
	}
	.section-subtext {
		font-size: 2.8rem;
	}
}

.word {
	opacity: 0;
	display: inline-block;
	transition: opacity 0.5s ease;
}
.visible {
	opacity: 1;
}
