@use 'base/colors' as *;
@use 'utils/mixins' as *;
// HEADER
.header {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 2em;
	height: 100vh;
	text-align: center;
	color: $white;
	@include heroImages('/dist/img/header-mini.jpg');
	&__title,
	&__text,
	&__btn {
		color: $text-color;
	}
	&__title {
		font-size: 3.5rem;
		font-weight: 500;
	}
	&__text {
		display: inline-block;
		margin-top: 0.5em;
		font-size: 2rem;
		font-weight: 400;
	}
	&__btn {
		margin-top: 0.6em;
		padding: 0.8em 1.6em;
		font-size: 1.6rem;
		border: 1px solid $text-color;
		text-align: center;
		text-transform: uppercase;
		text-decoration: none;
		border-radius: 8px;
		cursor: pointer;
		&::before {
			background-color: $hover-button;
		}
	}
}
// Section benefits
.benefits {
	&__cards {
		display: flex;
		flex-direction: column;
		margin-top: 2em;
		height: 100%;
		gap: 1em;
	}
	&__card {
		display: flex;
		align-items: center;
		text-align: left;
		flex-direction: column;
		padding: 0.8em;
		border: 1px solid $accent-color;
		border-radius: 8px;
		transition: box-shadow 0.5s;
		width: 100%;
		&__title,
		&__text {
			margin-top: 0.5em;
			color: $text-color;
		}
		&__title {
			text-align: center;
		}
		&__icon {
			margin-top: 0.5em;
			font-size: 4rem;
			color: $accent-color;
		}
		&:hover {
			box-shadow: 0 0 5px 5px $accent-color;
		}
	}
}
// Section About
.about {
	background-color: $bg-second;
	&__box {
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: repeat(2, auto);

		&__img {
			position: relative;
			grid-column: 1/2;
			grid-row: 1/2;
		}
		&__text {
			grid-column: 1/2;
			grid-row: 2/3;
			&-text {
				margin-top: 1em;
				color: $text-color;
			}
		}
		&__small {
			width: 100%;
			height: 100%;
		}
		&__big {
			display: none;
			width: 100%;
			height: 100%;
		}
		&__shadow {
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
			background: $banner-gradient;
			overflow: hidden;
		}
	}
}
// Section realization
.realization {
	&__box {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, 1fr);
		gap: 1em;
	}
	&__card {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 0.5fr 1fr 100px;
		border: 1px solid $accent-color;
		border-radius: 8px;
		transition: box-shadow 0.5s;

		&:hover {
			box-shadow: 0 0 5px 5px $accent-color;
		}
		&__info {
			grid-column: 1/2;
			grid-row: 1/2;

			&-title {
				text-align: center;
				margin: 0.6em;
				color: $text-color;
			}
			&-text {
				text-align: center;
				margin: 0.5em 0.6em;
				color: $accent-color;
			}
		}
		&__tools {
			grid-column: 1/2;
			grid-row: 3/4;
			display: flex;
			justify-content: center;
			align-items: center;
			color: $text-color;

			i {
				font-size: 4rem;
				cursor: pointer;
				color: $accent-color;
			}
		}
		&__more {
			grid-column: 1/2;
			grid-row: 2/3;
			margin-top: 1em;

			&__list {
				list-style: none;
				text-align: left;

				&-item {
					margin: 0.5em 0.6em;
				}
				&-text {
					color: $text-color;
				}
			}
		}
	}
}
//Section faq
.faq {
	background-color: $bg-second;
	&__box {
		background-color: transparent;
		border-radius: 8px;
	}
	&__card {
		margin: 0.5em 0.6em;
		margin-top: 1em;
		color: $text-color;
		&__btn {
			display: flex;
			align-items: center;
			width: 100%;
			border: none;
			cursor: pointer;
			padding: 0.5em 0;
			border-top: 1px solid $accent-color;
			&-text {
				font-size: 1.8rem;
			}
			i {
				margin-right: 10px;
			}
		}
		&__info {
			display: none;
			margin-top: 15px;
			color: $accent-color;
		}
	}
}
//Section Contact
.contact {
	&__boxes {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 0.5fr;
	}
	&__box {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-direction: column;
		&__item {
			margin: 0.5em 0;
			text-decoration: none;
			color: $accent-color;
			font-size: 1.8rem;
			i {
				margin-right: 15px;
			}
		}
	}
}
.contact-form {
	width: 100%;
	background-color: transparent;
	border-radius: 24px;
	color: $text-color;
}

.contact-box {
	display: flex;
	flex-direction: column;
	margin: 40px 0;
	width: 100%;
	color: $accent-color;
}

.contact-form label {
	margin-bottom: 10px;
	font-size: 22px;
	width: 100%;
}

.contact-form input,
.contact-form textarea,
.contact-form button {
	padding: 15px;
	font-size: 16px;
	border: 1px solid $accent-color;
	border-radius: 12px;
	color: $accent-color;
	width: 100%;
}

.contact-form textarea {
	resize: vertical;
	min-height: 150px;
}

.contact-form button {
	padding: 12px;
	width: 100%;
	cursor: pointer;
	text-transform: uppercase;
	transition: background-color 0.3s, color 0.3s;
}

.contact-form button:hover {
	color: $text-color;
	background-color: $hover-button;
	border: 1px solid $text-color;
}
.contact-agree {
	margin-top: 0.5em;
	color: $text-color;
}
.contact-more {
	color: $secondary-color;
	text-decoration: none;
}
.msg-status {
	display: none;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 50px;
	padding: 30px;
	width: 100%;
	border-radius: 12px;
	font-size: 24px;
}

.success {
	display: flex;
	background-color: hsl(143, 83%, 55%);
}
