@use 'base/colors' as *;
@use 'utils/mixins' as *;
// HEADER
@media (max-height: 350px) {
	.header {
		&__btn {
			display: none;
		}
	}
}
@media (min-width: 576px) {
	.header {
		&__title {
			font-size: 5rem;
		}
		&__text {
			font-size: 2rem;
		}
		&__btn {
			font-size: 1.8rem;
		}
	}
}

@media (min-width: 768px) {
	.header {
		background-image: $banner-gradient, url('/dist/img/header-big.jpg');
		&__title {
			font-size: 5rem;
		}
		&__text {
			font-size: 3rem;
		}
		&__btn {
			font-size: 2.2rem;
		}
	}
}
@media (min-width: 992px) {
	.header {
		&__title {
			font-size: 6.6rem;
		}
		&__btn {
			margin-top: 1em;
			font-size: 2.5rem;
		}
	}
}

@media (min-width: 1200px) {
	.header {
		&__title {
			font-size: 8rem;
		}
	}
}
//Section benefits
@media (min-width: 992px) {
	.benefits {
		&__cards {
			flex-direction: row;
		}
		&__card {
			&__title {
				font-size: 2.5rem;
				height: 6rem;
			}
			&__icon,
			&__title,
			&__text {
				margin-top: 0.1em;
			}
			&__text {
				margin: 1em 0 2.5em 0;
				font-size: 1.8rem;
			}
		}
	}
}
@media (min-width: 1200px) {
	.benefits {
		&__card {
			&__title {
				font-size: 2.8rem;
				height: 6rem;
			}
			&__text {
				font-size: 2rem;
			}
		}
	}
}
// Section about
@media (min-width: 768px) {
	.about {
		&__box {
			grid-template-columns: 1fr 1fr;
			grid-template-rows: repeat(1, 1fr);
			gap: 1em;

			&__img {
				grid-column: 2/3;
				grid-row: 1/2;
			}

			&__text {
				grid-column: 1/2;
				grid-row: 1/2;
				&-text {
					margin-top: 0;
				}
			}

			&__small {
				display: none;
			}
			&__big {
				display: block;
			}
		}
	}
}
@media (min-width: 992px) {
	.about {
		&__box {
			&__text {
				grid-column: 1/2;
				grid-row: 1/2;
				&-text {
					font-size: 1.8rem;
				}
			}
		}
	}
}
@media (min-width: 1200px) {
	.about {
		&__box {
			&__text {
				grid-column: 1/2;
				grid-row: 1/2;
				&-text {
					font-size: 2.2rem;
				}
			}
		}
	}
}
@media (min-width: 1400px) {
	.about {
		&__box {
			&__text {
				grid-column: 1/2;
				grid-row: 1/2;
				&-text {
					font-size: 2.8rem;
				}
			}
		}
	}
}

//Section realization
@media (min-width: 992px) {
	.realization {
		&__box {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: 1fr;
			gap: 1em;
		}
		&__card {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: repeat(3, 1fr);

			&__title {
				font-size: 2.5rem;
			}
			&__text {
				font-size: 1.8rem;
			}
		}
		&__tools {
			margin: 0;
			padding: 0;
		}
	}
}
@media (min-width: 1200px) {
	.realization {
		&__card {
			&__title {
				font-size: 2.5rem;
			}
			&__text {
				font-size: 2rem;
			}
		}
	}
}
